fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy[asyncio]
aiosqlite
langchain
langchain-community
langchain-groq
openai
groq
faiss-cpu
python-multipart
sentence-transformers
cryptography
bcrypt
email-validator
