fastapi
uvicorn[standard]
slowapi
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
langchain
langchain-community
langchain-groq
openai
groq
faiss-cpu
python-multipart
sentence-transformers
cryptography
bcrypt
email-validator
redis

google-auth
google-auth-oauthlib
google-auth-httplib2

motor
